<div id="floating-panel">
    <b>Start: </b>
    <input id="start">
    <b>End: </b>
    <input id="end">
    <button id="calculateRoute">Calculate Route</button>
</div>
<div id="map" style="height: 500px; width: 1000px"></div>
<script>
let map, infoWindow;

function initMap() {
  const directionsService = new google.maps.DirectionsService();
  const directionsRenderer = new google.maps.DirectionsRenderer();

  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 15,
  });
  infoWindow = new google.maps.InfoWindow();
  directionsRenderer.setMap(map);
  const locationButton = document.createElement("button");
  var markers = [];

  const onChangeHandler = function () {
    const start = document.getElementById("start").value;
    const end = document.getElementById("end").value;
    calculateAndDisplayRoute(directionsService, directionsRenderer);
    var body = {
        "start": start,
        "end": end,
        "user": '{{ user.id }}',
    }
    fetch('{% url "adventure-list" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
    }).then(function (response) {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Error: ' + response.status);
        }
    }).then(function (data) {
      console.log(data["pois"]);
      if (markers.length > 0) {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
          }
      }
      data["pois"].forEach((poi) => {
        var marker = new google.maps.Marker({
          position: {lat: poi.geometry.location.lat, lng: poi.geometry.location.lng},
          map: map,
          title: poi.name
        });
        markers.push(marker);
      });
    })
  };

  document.getElementById("calculateRoute").addEventListener("click", onChangeHandler);

  locationButton.textContent = "Pan to Current Location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent("Location found.");
          infoWindow.open(map);
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}

function calculateAndDisplayRoute(directionsService, directionsRenderer) {
  directionsService
    .route({
      origin: {
        query: document.getElementById("start").value,
      },
      destination: {
        query: document.getElementById("end").value,
      },
      travelMode: google.maps.TravelMode.DRIVING,
    })
    .then((response) => {
      directionsRenderer.setDirections(response);
    })
    .catch((e) => window.alert("Directions request failed due to " + status));
}

window.initMap = initMap;

</script>